@font-face {
    font-family: Streetwear;
    src: url('../../assets/fonts/Streetwear.otf');
}

$jet: #2B2A28;
$white: #ffffff;
$burlywood: #D7B56D;
$dark-liver-horses: #613B32;
$light-blue: #BDDDE8;

* {
    padding: 0;
    margin: 0;
}

.container_sobre {
    display: grid;
    grid-template-areas: 'd1 d2';
    grid-template-columns: auto;
    padding: 0;
    margin: 0;
    background-color: #121212;
}

.container_sobre .div_01 {
    grid-area: d1;
    padding: 20vh 0vw 10vh 10vw;

    h1 {
        color: $burlywood;
        font-family: Streetwear;
        font-style: italic;
        text-transform: initial;
    }

    p {
        text-align: justify;
        color: white;
    }
}

.container_sobre .div_02 {
    grid-area: d2;
    padding: 10vh 10vw 10vh 5vw; 

    img {
        height: 540px;
        width: 400px;
        border-radius: 5px;
    }
}


