$jet: #2B2A28;
$white: #ffffff;
$burlywood: #D7B56D;
$dark-liver-horses: #613B32;
$light-blue: #BDDDE8;

.btn {
    background-color: transparent;
    color: $burlywood;
    border: 1px solid $burlywood;
    padding: 5px 20px;
    border-radius: 5px;
}